@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #000000;
  margin: 0 auto;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: white #0000;
  animation: l1 1s infinite;
  text-align: center;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
